
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Carppi" />
    <meta property="og:description" content="Register today!" />
    <meta property="og:url" content="http://geolocale.azurewebsites.net/PolticsOfPrivacy/Index" />
    <meta property="og:site_name" content="Carppi" />
    <meta property="fb:app_id" content="353621488737383" />
    <meta property="og:image" content="https://northtexasfirewalkers.org/site/wp-content/uploads/2017/10/ntxfw_event3.jpg" />
    <!-- <meta property="og:image:secure_url" content="https://northtexasfirewalkers.org/site/wp-content/uploads/2017/10/ntxfw_event3.jpg" />-->
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>
            Esta política describe la forma en la que Carppi y sus filiales recopilan y utilizan la información personal para proporcionar servicios. Esta política se aplica a todos los usuarios de nuestras apps, sitios web, herramientas y otros servicios en cualquier lugar del mundo, a menos que se aplique una política de privacidad independiente. En concreto, esta política se aplica a:
            Pasajeros: usuarios que solicitan o reciben un servicio de transporte.
            Conductores: usuarios que prestan servicios de transporte a título individual o mediante empresas de transporte.
            Destinatarios de entregas: usuarios que solicitan entregas de comida u otros artículos.
            Repartidores: usuarios que prestan servicios de entrega.
            La política también se aplica a aquellas personas que proporcionan información a Uber en el ámbito de una app para usar nuestros servicios y a aquellas cuya información reciba Uber como consecuencia de la prestación de sus servicios (p. ej., información de contacto de personas relacionadas con restaurantes asociados a Carppi). Todas las personas sujetas a esta política se denominan “usuarios” en el contexto de la misma.

            Las prácticas descritas en la presente política están sujetas a la legislación vigente en su lugar de aplicación. Esto significa que solo aplicaremos las prácticas descritas en esta política en un país o una región concreta si lo permiten las leyes de esos lugares. Contacte con nosotros si tiene preguntas sobre nuestras prácticas en su país o región.

            CONTENIDOS:

            A través de la Plataforma, el Operador podrá poner a disposición de los Consumidores información de carácter comercial y publicitario, propio o de terceros de conformidad a las buenas costumbres comerciales. En estos casos, el Operador no avala, garantiza o compromete su responsabilidad frente a los servicios y/o productos que se comercialicen por éstos terceros, ya que la Plataforma sirve como canal de comunicación y publicidad, más no como herramienta de prestación de servicios; en consecuencia es total responsabilidad de los Consumidores el acceso a los sitios que remite la publicidad, asumiendo la obligación de verificar y conocer los términos de los servicios ofrecidos por los terceros.

            Toda la información puesta a disposición en la Plataforma como imágenes, publicidad, nombres, marcas, lemas y demás elementos de propiedad intelectual; son utilizados legítimamente por el Operador sea porque son de su propiedad, porque tienen autorización para ponerlos a disposición o porque se encuentra facultada por la legislación aplicable vigente.
        </p>
    </div>
</body>
</html>
